<% layout("../layout/boilerplate") %>
<!--*All The Contents Of this File Will be Passed To This Layout File-->
<%- include("../partials/sidebar") %>

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<div class="container w-[65%] mx-auto my-10 pl-10 min-h-max">
    <h1 class="text-2xl text-slate-500 my-6 font-light font-sofia">Edit a Question</h1>

    <div>
        <form action="/question/<%=question._id%>/edit?_method=PUT" method="post" autocomplete="off"
            id="questionEditForm" enctype="multipart/form-data">

            <span class="drop-shadow-sm rounded-xl bg-[#DAE8E7] text-[#378583] p-3 font-sofia">Editing As
                <%= question.user.username %> </span>

            <br><br>
            <label for="questionTitle" class="text-slate-400 font-sofia">Question Title</label>
            <br>
            <input type="text" name="questionTitle" id="questionTitle"
                class=" mt-2 rounded-xl border border-slate-200 shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 w-full text-slate-600"
                required value="<%= question.questionTitle %>">

            <br><br>

            <label for="questionDescription" class="text-slate-400 font-sofia">Description</label>
            <br>

            <div id="editor" class="my-2">
                <%-  question.questionDescription %>
            </div>

            <br>
            <label for="uploadImages" class="text-gray-700 font-sofia font-light">Upload Images</label>
            <p class="font-sofia font-light text-xs text-[#EE5C67] mt-1 ">*Images Size Shouldn't Exceed 5mb Size.</p>
            <div class="p-3 mb-8 mt-2 w-fit rounded-full bg-gray-100 drop-shadow-lg">
                <input type="file" class="block w-full text-sm text-slate-700
                file:mr-4 file:py-2 file:px-4
                file:rounded-full file:border-0
                file:text-base file:font-semibold
                file:bg-gradient-to-r file:from-blue-500 file:to-blue-600 file:text-white
                hover:file:bg-violet-100 file:cursor-pointer" name="uploadImages" id="uploadImages" multiple>
            </div>

            <input type="hidden" name="questionDescription" id="questionDescriptionInput">
            
            <label for="tags" class="text-slate-400 font-sofia">Tags</label>
            <input type="text" required
                class="mt-2 rounded-xl border border-slate-200 shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 w-full text-slate-600"
                name="tags" id="tags" placeholder="Edit Tags" value="<%= tagsArray %>">
           
            <br><br>

            <% if(question.images && question.images.length){ %>
            <div class="images my-3 ">
                <section class="flex flex-row flex-wrap gap-4 rounded-xl border border-slate-200 p-2">
                    <%  question.images.forEach(function(img,i) {  %>
                    <div class="image-wrapper w-96 h-56 overflow-hidden">
                        <input type="checkbox" name="deleteImages[]" value="<%= img.filename %>" id="image-<%=i%>"
                            class="w-6 h-6 text-blue-600 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 mx-2 absolute mt-1">
                        <img src="<%= img.url %>" class="rounded-xl" alt="">
                    </div>
                    <% }) %>
                </section>

            </div>
            <br><br>
            <% } %>



            <button type="submit"
                class="p-3 mr-5 ring-2 ring-green-500 hover:bg-green-400 hover:text-white bg-green-200 text-green-600 rounded-xl drop-shadow-lg">Edit
                Question</button>
            <button type="reset"
                class="p-3 ring-2 hover:bg-blue-400 hover:text-white ring-blue-500 text-blue-600 bg-blue-200 rounded-xl drop-shadow-lg">Reset</button>
        </form>
    </div>
</div>

<script>
    const editor = new toastui.Editor({
        el: document.querySelector("#editor"),
        previewStyle: 'vertical',
        initialEditType: "wysiwyg",
        height: '300px'
    })

    $("#questionEditForm").submit(function () {
        let data = editor.getHTML();
        $("#questionDescriptionInput").val(data);
    })
</script>