<% layout("../layout/boilerplate") %>
<%- include("../partials/sidebar") %>
<%- include("../partials/flash") %>

<div class="container w-[70%] my-7 ml-[20%]">
    <div class="question-wrapper flex flex-row  py-5 rounded-xl shadow-sm">
        <section class="profile-picture flex flex-col mx-5 h-full items-center justify-center mt-3 flex-wrap gap-y-6">
            <div class="image">
                <% if(question.user.image.url ) { %>
                    <a href="/user/<%= question.user._id %>">
                        <img src="<%= question.user.image ? `${question.user.image.url}` : "" %> " alt=""
                             class="w-14 h-14 rounded-full">
                    </a>
                <% } else { %>
                    <div class="w-14 h-14 rounded-full bg-gray-200"></div>
                <% } %>
            </div>
            <div class="h-full">
                <form action="/question/<%= question._id %>/vote/inc?fullQuestion=true&&_method=PUT" method="post"
                      class="upForm hover:scale-125 transition-all">
                    <button type="submit" id="post-inc">
                        <svg class="cursor-pointer" width="70" height="20" viewBox="0 0 90 108" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path class="post-inc-path" id="Arrow 1"
                                  d="M49.2426 2.57276C46.8995 0.229614 43.1005 0.229614 40.7574 2.57276L2.57359 40.7565C0.230446 43.0997 0.230446 46.8987 2.57359 49.2418C4.91674 51.585 8.71573 51.585 11.0589 49.2418L45 15.3007L78.9411 49.2418C81.2843 51.585 85.0833 51.585 87.4264 49.2418C89.7696 46.8987 89.7696 43.0997 87.4264 40.7565L49.2426 2.57276ZM51 107.094L51 6.8154H39L39 107.094H51Z"
                                  fill="#9643FF"/>
                        </svg>
                    </button>

                    <input type="hidden" name="questionId" value="<%= question._id %>"/>
                </form>

                <span id=""
                      class="w-full text-center text-xl inline-block text-gray-500 votes font-sofia"><%= question.votes %>
				</span>

                <form action="/question/<%= question._id %>/vote/dec?fullQuestion=true&&_method=PUT" method="post"
                      class="downForm hover:scale-125 transition-all mt-1">
                    <button type="submit" id="post-dec">
                        <svg class="cursor-pointer " width="70" height="20" viewBox="0 0 90 107" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path id="Arrow 2"
                                  d="M40.7574 105.191C43.1005 107.534 46.8995 107.534 49.2426 105.191L87.4264 67.0071C89.7696 64.664 89.7696 60.865 87.4264 58.5219C85.0833 56.1787 81.2843 56.1787 78.9411 58.5219L45 92.463L11.0589 58.5219C8.71573 56.1787 4.91674 56.1787 2.57359 58.5219C0.230447 60.865 0.230447 64.664 2.57359 67.0071L40.7574 105.191ZM39 0.669922L39 100.948H51L51 0.669922L39 0.669922Z"
                                  fill="#E16A6A"/>
                        </svg>
                    </button>
                    <input type="hidden" name="questionId" value="<%= question._id %>"/>
                </form>

                <div class="saveQuestion mx-auto w-full mt-5">

                    <% if(userSession && userSession.userid) { %>
                        <form action="/user/<%= userSession.userid %>/question/<%= question._id %>/savedQuestions"
                              method="post">
                            <button type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" class=" hover:scale-150 transition-all"
                                     fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor" width="70" height="25">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="0"
                                          d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" fill="#23C197"/>
                                </svg>
                            </button>
                        </form>
                    <% } %>

                </div>


            </div>


        </section>

        <section class="question-body flex flex-col w-[80%] ">
            <p class="font-sofia font-light text-[#AAAABC] text-xs">Asked: <%= question.createdAt %> </p>

            <h2 class="text-xl font-sofia font-semibold text-[#464555] my-2"><%= question.questionTitle %></h2>
            <h4 class="text-[#AAAABC] font-sofia font-light text-sm">By <%= question.user.username %> </h4>

            <% if(question.images && question.images.length > 0) { %>
                <div class="swiper w-full my-5 rounded-xl">
                    <div class="swiper-wrapper">
                        <% for(let img of question.images) { %>
                            <div class="swiper-slide flex justify-center" data-swiper-autoplay="5000">
                                <img src="<%= img.url %>" class="rounded-xl" alt="">
                            </div>
                        <% } %>
                    </div>
                    <div class="swiper-button-prev text-gray-600 !important"></div>
                    <div class="swiper-button-next"></div>
                </div>
            <% } %>

            <div id="viewer" class="pb-3 text-[#464555ce] pt-1 px-0.5 rounded-xl font-sofia leading-7 w-full">
                <%- question.questionDescription %>
            </div>

            <div class="flex flex-row w-[94%] flex-wrap gap-4 my-2">
                <% question.tags.forEach(el=> { %>
                    <div class="tag-wrapper px-2 py-1 bg-[#EEEDED] rounded-lg">
                        <p><a href="/explore/<%= el %>" class="text-[#AAA4BC] font-semibold "><%= el %></a></p>
                    </div>
                <% }) %>
            </div>

            <div class="question-options flex flex-row justify-evenly mt-7">
                <p class="text-[#7485F2] font-sofia font-light text-sm">
                    <svg class="inline-block mx-2" xmlns="http://www.w3.org/2000/svg" height="21px" viewBox="0 0 24 24"
                         width="21px" fill="#7485F2">
                        <path d="M0 0h24v24H0V0z" fill="none"/>
                        <path d="M15 4v7H5.17l-.59.59-.58.58V4h11m1-2H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm5 4h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1z"/>
                    </svg><%= question.answers.length %> Answers
                </p>
                <% if(!question.isClosed) { %>
                <p class="font-sofia text-[#00AAC6] text-sm font-light"><a href="/question/<%= question._id %>/edit">
                        <svg xmlns="http://www.w3.org/2000/svg" height="21px" viewBox="0 0 24 24" width="21px"
                             fill="#00AAC6" class="inline-block mx-2">
                            <path d="M0 0h24v24H0V0z" fill="none"/>
                            <path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/>
                        </svg>
                        Edit
                        Question</a></p>
                <% } %>
                <div class="font-sofia text-sm">
                    <form action="/question/<%= question._id %>?_method=DELETE" method="post">
                        <button type="submit" class=" font-sofia text-[#EE5C67] font-light text-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" height="21px" viewBox="0 0 24 24" width="21px"
                                 fill="#EE5C67" class="inline-block mx-2">
                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                <path d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"/>
                            </svg>
                            Delete Question
                        </button>
                    </form>
                </div>
                <div class="font-sofia text-sm">
                    <form action="/report/question/<%= question._id %>?isFullQuestion=true" method="post">
                        <button class="text-[#AB8A0D] font-sofia text-sm font-light">
                            <svg xmlns="http://www.w3.org/2000/svg" height="21px" viewBox="0 0 24 24" width="21px"
                                 fill="#AB8A0D" class="inline-block mx-2">
                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                <path d="M15.73 3H8.27L3 8.27v7.46L8.27 21h7.46L21 15.73V8.27L15.73 3zM19 14.9L14.9 19H9.1L5 14.9V9.1L9.1 5h5.8L19 9.1v5.8z"/>
                                <circle cx="12" cy="16" r="1"/>
                                <path d="M11 7h2v7h-2z"/>
                            </svg>
                            Report Question
                        </button>
                    </form>
                </div>

                <% if(question.isClosed) { %>
                    <div class="open-question">
                        <form action="/question/<%= question._id %>/openQuestion" method="get">
                            <button class="text-fuchsia-500 text-sm font-sofia font-light">
                                <svg class="inline-block mx-2" xmlns="http://www.w3.org/2000/svg" height="21px"
                                     viewBox="0 0 24 24" width="21px" fill="#D98EF5">
                                    <path d="M0 0h24v24H0V0z" fill="none"/>
                                    <path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6h2c0-1.66 1.34-3 3-3s3 1.34 3 3v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm0 12H6V10h12v10zm-6-3c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"/>
                                </svg>
                                Open Question
                            </button>
                        </form>
                    </div>
                <% } else { %>
                    <div class="close-question font-sofia text-sm">
                        <form action="/question/<%= question._id %>/closeQuestion" method="get">
                            <button class="text-fuchsia-500 font-sofia text-sm font-light">
                                <svg class="inline-block mx-2" xmlns="http://www.w3.org/2000/svg" height="21px"
                                     viewBox="0 0 24 24" width="21px" fill="#D98EF5">
                                    <path d="M0 0h24v24H0V0z" fill="none"/>
                                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM4 12c0-4.42 3.58-8 8-8 1.85 0 3.55.63 4.9 1.69L5.69 16.9C4.63 15.55 4 13.85 4 12zm8 8c-1.85 0-3.55-.63-4.9-1.69L18.31 7.1C19.37 8.45 20 10.15 20 12c0 4.42-3.58 8-8 8z"/>
                                </svg>
                                Close Question
                            </button>
                        </form>
                    </div>
                <% } %>

            </div>
        </section>

    </div>

    <div class="answer-title flex flex-row w-full justify-start">
        <% if(typeof answers == 'object' && answers && answers.length) { %>
            <!-- Display Answer Heading When Answer Length is > 0-->
            <div id="answerTitle" class="mt-4 mx-5">
                <h4 class="pt-4 mb-5 font-sofia text-[#464555]">Answers <%= question.answers.length %> </h4>
            </div>
        <% } %>
    </div>

    <% if(typeof answers == 'object' && answers && answers.length) { %>
        <% for(let answer of answers) { %>
            <div class="answer-wrapper py-5 rounded-xl shadow-sm flex">

                <section class="profile-picture flex flex-col mx-5">
                    <div class="image">
                        <% if(answer.user.image.url) { %>
                            <a href="/user/<%= answer.user._id %>">
                                <img src="<%= answer.user.image ? `${answer.user.image.url}` : "" %> " alt=""
                                     class="w-14 h-14 rounded-full">
                            </a>
                        <% } else { %>
                            <div class="w-14 h-14 rounded-full bg-gray-200"></div>
                        <% } %>
                    </div>
                </section>

                <section class="answer-body flex flex-col w-[80%]">
                    <p class="font-sofia font-light text-[#AAAABC] text-xs">Asked: <%= answer.createdAt %> </p>

                    <h2 class="text-xl font-sofia font-semibold text-[#464555] my-2"> <%- answer.user.username %> </h2>
                    <section>
                        <% if(answer.images && answer.images.length) { %>
                            <div class="swiper my-4 rounded-xl w-full">
                                <div class="swiper-wrapper ">
                                    <% for(let img of answer.images) { %>
                                        <div class="swiper-slide flex justify-center" data-swiper-autoplay="5000">
                                            <img src="<%= img.url %>" class="rounded-xl" alt="">
                                        </div>
                                    <% } %>
                                </div>
                                <div class="swiper-button-prev text-gray-600 !important"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        <% } %>
                    </section>
                    <div class="answerViewer">
                        <%- answer.answerDescription %>
                    </div>

                    <section class="answer-votes flex">
                        <form action="/question/<%= question._id %>/answer/<%= answer._id %>/voteinc?fullQuestion=true"
                              method="get"
                              class="answerUpForm hover:scale-125 transition-all mt-2">
                            <button type="submit" id="post-inc">
                                <svg class="cursor-pointer" width="70" height="20" viewBox="0 0 90 108" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path class="post-inc-path" id="Arrow 1"
                                          d="M49.2426 2.57276C46.8995 0.229614 43.1005 0.229614 40.7574 2.57276L2.57359 40.7565C0.230446 43.0997 0.230446 46.8987 2.57359 49.2418C4.91674 51.585 8.71573 51.585 11.0589 49.2418L45 15.3007L78.9411 49.2418C81.2843 51.585 85.0833 51.585 87.4264 49.2418C89.7696 46.8987 89.7696 43.0997 87.4264 40.7565L49.2426 2.57276ZM51 107.094L51 6.8154H39L39 107.094H51Z"
                                          fill="#9643FF"/>
                                </svg>
                            </button>

                            <input type="hidden" name="questionId" value="<%= question._id %>"/>
                            <input type="hidden" name="answerId" value="<%= answer._id %>">
                        </form>

                        <span id="" class=" text-gray-500 votes font-sofia mt-2"><%= answer.votes %></span>

                        <form action="/question/<%= question._id %>/answer/<%= answer._id %>/votedec?fullQuestion=true"
                              method="get"
                              class="answerDownForm hover:scale-125 transition-all mt-2">
                            <button type="submit" id="post-dec">
                                <svg class="cursor-pointer " width="70" height="20" viewBox="0 0 90 107" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path id="Arrow 2"
                                          d="M40.7574 105.191C43.1005 107.534 46.8995 107.534 49.2426 105.191L87.4264 67.0071C89.7696 64.664 89.7696 60.865 87.4264 58.5219C85.0833 56.1787 81.2843 56.1787 78.9411 58.5219L45 92.463L11.0589 58.5219C8.71573 56.1787 4.91674 56.1787 2.57359 58.5219C0.230447 60.865 0.230447 64.664 2.57359 67.0071L40.7574 105.191ZM39 0.669922L39 100.948H51L51 0.669922L39 0.669922Z"
                                          fill="#E16A6A"/>
                                </svg>
                            </button>
                            <input type="hidden" name="questionId" value="<%= question._id %>"/>
                            <input type="hidden" name="answerId" value="<%= answer._id %>">
                        </form>

                        <div class="answer-options">
                            <div class="question-options flex flex-row justify-center items-center gap-x-14 mt-2 ml-7">
                                <form action="/report/question/<%= question._id %>/answer/<%= answer._id %>"
                                      method="post"
                                      class="">
                                    <div id="report-button-wrapper" class="">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 float-left mt-1.5 mr-1"
                                             fill="none" viewBox="0 0 24 24" stroke="#56B7B4">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9"/>
                                        </svg>
                                        <button type="submit" class=" font-sofia font-light text-[#56B7B4]">Report
                                        </button>
                                    </div>
                                </form>
                                <% if(answer.user._id == userSession.userid) { %>

                                    <form action="/question/<%= question._id %>/answer/<%= answer._id %>/edit"
                                          method="get">
                                        <div class="text-[#00B8FF] font-sofia font-light">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 float-left mt-1 mr-1"
                                                 fill="none"
                                                 viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
                                            </svg>
                                            <button type="submit" class="font-sofia font-light">Edit</button>
                                        </div>
                                    </form>




                                    <form action="/question/<%= question._id %>/answer/<%= answer._id %>?_method=DELETE"
                                          method="post">
                                        <div class="text-[#EE5C67] font-sofia font-light">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 float-left mt-1 mr-1"
                                                 fill="none"
                                                 viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                                            </svg>
                                            <button type="submit" class="font-sofia font-light">Delete</button>
                                        </div>
                                    </form>
                            </div>
                            <% } %>
                        </div>

                    </section>


                </section>


            </div>
        <% } %>
    <% } %>

    <% if(userSession.isLoggedIn && question.isClosed != true) { %>
    <div class="create-answer flex flex-col w-full">
        <h2 class="mt-4 font-sofia text-[#464555]">Create Answer</h2>
        <form action="/question/<%= question._id %>/answer" method="post" autocomplete="off" class="" id="answerForm"
              enctype="multipart/form-data">
            <div id="editor" class="mt-4"></div>
            <input type="hidden" name="answerDescription" class="answerField">
            <br>
            <label for="answerImages" class="text-gray-700 font-sofia font-light">Upload Answer Images</label>
            <p class="font-sofia font-light text-xs text-[#EE5C67] mt-1 ">*Images Size Shouldn't Exceed 5mb Size.</p>
            <div class="p-3 mb-8 mt-2 w-fit rounded-full bg-gray-100 drop-shadow-lg">
                <input type="file" class="block w-full text-sm text-slate-700
                file:mr-4 file:py-2 file:px-4
                file:rounded-full file:border-0
                file:text-base file:font-semibold
                file:bg-gradient-to-r file:from-blue-500 file:to-blue-600 file:text-white
                hover:file:bg-violet-100 file:cursor-pointer" name="answerImages" id="answerImages" multiple>
            </div>

            <button type="submit" class="py-1 px-2 font-sofia bg-[#464555] text-[#F9F8FF] rounded-lg my-2">Add
                Answer
            </button>
        </form>
    </div>

    <% } %>

</div>

<!-- 
<script>
	let reportmodal = document.getElementById("report-modal");

	let reportOpenBtn = document.getElementById("report-open-btn");

	let reportBtn = document.getElementById("report-btn");

	let reportCancelBtn = document.getElementById("report-cancel-btn");

	reportOpenBtn.addEventListener("click", function () {
		reportmodal.classList.remove("hidden");
	})

	reportCancelBtn.addEventListener("click", function () {
		reportmodal.classList.add("hidden");
	})
</script> -->


<script>
    const answerViewer = document.querySelectorAll(".answerViewer");

    const viewer = toastui.Editor.factory({
        el: document.querySelector('#viewer'),
        viewer: true
    });

    answerViewer.forEach(function (e) {
        toastui.Editor.factory({
            el: e,
            viewer: true
        })
    })
    const swiper = new Swiper(".swiper", {
        direction: "horizontal",
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
        },
        scrollbar: {
            el: '.swiper-scrollbar',
        },
        autoHeight: true,
        autoplay: {
            delay: 5000
        },
        pauseOnMouseEnter: true
    });

    const editor = new toastui.Editor({
        el: document.querySelector("#editor"),
        initialEditType: "wysiwyg",
        previewStyle: 'vertical',
        height: '300px'
    });

    $("#answerForm").submit(function (e) {
        let data = editor.getHTML();
        $(".answerField").val(data);
    })
</script>