<% layout("../layout/boilerplate") %>
<!--*All The Contents Of this File Will be Passed To This Layout File-->

<%- include("../partials/sidebar") %>


<div class="container  w-48 mt-10 float-right mr-12  font-medium   ">

	<div class="bg-[#ffac5f79] p-3 text-[#f56606] text-center hover:ring-orange-300 hover:ring-2 rounded-xl">
		<% if(userSession.userid) { %>
			<a href="/question/new">Ask A Question </a>
			<% } else { %>
			<a href="/login">To Ask Questions Login!!</a>
			<% } %>
	</div>
	

	<div class="my-10">
		<p class="font-sans mb-2 bg-blue-500 rounded-md text-white p-2">New Users</p>

			<% for(let user of newUsers) { %>
				
				<div class="container w-full py-1 ml-2">
					<div class="rounded-full bg-purple-200 w-8 h-8 float-left mb-2"></div>
					<div><p class=" py-1 font-sans hover:text-blue-600 text-gray-500 delay-150 transition-colors ease-out ml-9"><%= user.username %> </p></div>
				</div>
					
			<% } %> 
	</div>
</div>




<% if(success && success.length) { %>
<div class="message container fixed left-[75%] top-10">
	<div class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
		<div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
			<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
				<path
					fill-rule="evenodd"
					d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
					clip-rule="evenodd"
				></path>
			</svg>
		</div>
		<div class="ml-3 text-sm font-normal">
			<%= success %>
		</div>
		<button
			type="button"
			class="close-btn ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
		>
			<span class="sr-only">Close</span>
			<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
				<path
					fill-rule="evenodd"
					d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
					clip-rule="evenodd"
				></path>
			</svg>
		</button>
	</div>
</div>
<% } %>

<div class="message container fixed left-[75%] top-10 hidden" id="success-message">
	<div class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
		<div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
			<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
				<path
					fill-rule="evenodd"
					d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
					clip-rule="evenodd"
				></path>
			</svg>
		</div>
		<div class="ml-3 text-sm font-normal" id="success-message-text"></div>
		<button
			type="button"
			class="close-btn ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
		>
			<span class="sr-only">Close</span>
			<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
				<path
					fill-rule="evenodd"
					d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
					clip-rule="evenodd"
				></path>
			</svg>
		</button>
	</div>
</div>

<% if(welcome && welcome.length) { %>
<div class="message container w-[55%] mx-auto my-5 bg-green-200/80 border border-green-400/70 px-4 py-3 rounded-lg text-green-700 relative drop-shadow-md" role="alert">
	<h1 class="font-medium font-inter">
		<%= welcome %>
	</h1>
	<button class="absolute top-0 right-0 px-4 py-3 close-btn">
		<svg class="h-6 w-6 text-green-500 hover:text-green-600 fill-current" viewBox="0 0 20 20">
			<title>Close</title>
			<path
				d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
			/>
		</svg>
	</button>
</div>
<% } %> <% if(error && error.length) { %>
<div class="message container fixed left-[75%] top-10">
	<div class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
		<div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
			<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
				<path
					fill-rule="evenodd"
					d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
					clip-rule="evenodd"
				></path>
			</svg>
		</div>
		<div class="ml-3 text-sm font-normal">
			<%= error %>
		</div>
		<button
			type="button"
			class="close-btn ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
		>
			<span class="sr-only">Close</span>
			<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
				<path
					fill-rule="evenodd"
					d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
					clip-rule="evenodd"
				></path>
			</svg>
		</button>
	</div>
</div>
<% } %>

<div class="container w-[55%] mx-auto my-6" id="home">
	<% for(let post of posts) { %>
	<div id="post" class="mb-10 rounded-2xl p-2 overflow-hidden">
		<div id="arrows" class="w-[10%] pt-4 float-left">
			<form action="/question/<%=post._id %>/vote/inc?_method=PUT" class="upForm hover:scale-125 transition-all" method="post">
				<button type="submit" id="post-inc">
					<svg class="cursor-pointer" width="70" height="20" viewBox="0 0 90 108" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							class="post-inc-path"
							id="Arrow 1"
							d="M49.2426 2.57276C46.8995 0.229614 43.1005 0.229614 40.7574 2.57276L2.57359 40.7565C0.230446 43.0997 0.230446 46.8987 2.57359 49.2418C4.91674 51.585 8.71573 51.585 11.0589 49.2418L45 15.3007L78.9411 49.2418C81.2843 51.585 85.0833 51.585 87.4264 49.2418C89.7696 46.8987 89.7696 43.0997 87.4264 40.7565L49.2426 2.57276ZM51 107.094L51 6.8154H39L39 107.094H51Z"
							fill="#9643FF"
						/>
					</svg>
				</button>

				<input type="hidden" name="questionId" value="<%= post._id %>" />
			</form>

			<span class="votes text-xl mx-auto py-2 inline-block text-gray-500 w-full text-center">
				<%= post.votes %>
			</span>

			<form action="/question/<%= post._id %>/vote/dec?_method=PUT" method="post" class="downForm hover:scale-125 transition-all">
				<button type="submit" id="post-dec">
					<svg class="cursor-pointer" width="70" height="20" viewBox="0 0 90 107" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							id="Arrow 2"
							d="M40.7574 105.191C43.1005 107.534 46.8995 107.534 49.2426 105.191L87.4264 67.0071C89.7696 64.664 89.7696 60.865 87.4264 58.5219C85.0833 56.1787 81.2843 56.1787 78.9411 58.5219L45 92.463L11.0589 58.5219C8.71573 56.1787 4.91674 56.1787 2.57359 58.5219C0.230447 60.865 0.230447 64.664 2.57359 67.0071L40.7574 105.191ZM39 0.669922L39 100.948H51L51 0.669922L39 0.669922Z"
							fill="#E16A6A"
						/>
					</svg>
				</button>

				<input type="hidden" name="questionId" value= "<%= post._id %>"/>
			</form>

			<div class="saveQuestion mx-auto w-full mt-5">

				<% if(userSession && userSession.userid) {  %> 
				<form action="/user/<%= userSession.userid %>/question/<%= post._id %>/savedQuestions" method="post">	
					<button type="submit">
						<svg data-tooltip-target = "tooltip-default" xmlns="http://www.w3.org/2000/svg" class=" hover:scale-150 transition-all" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="70" height="25">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="0" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" fill="#23C197" />
						</svg>
					</button>
				</form>
				<% } %> 
			</div>


		</div>

		

		<div id="questionWrapper">
			<div id="question" class="ml-20">

			
				<div class="w-full relative">
					<a class="text-lg inline-block mt-2 text-gray-600 font-semibold font-inter max-w-xl" href="/question/<%= post._id%>">
						<%= post.questionTitle %>
					</a>
				</div>

				<p class=" text-gray-500 leading-8 pt-4 pb-4">
					<%= post.snippet %>
				</p>

				<div id="separator" class="bg-slate-200 h-0.5"></div>

				<div class="tags mt-3">
					<% post.tags.forEach(el=> { %>
					<span class="bg-violet-200 p-2 rounded-xl text-gray-600 inline-block mb-1">
						<%= el %>
					</span>
					<% }) %>

					<div class="rounded-xl bg-blue-100/70 w-max p-2 outline-none float-right">
						<div class="rounded-full float-left bg-red-300 w-6 h-6"></div>
						<a class="ml-2 font-medium text-blue-500" href="/user/<%= post.user._id %>">
							<%= post.user.username %>
						</a>
					</div>
				</div>

				

				
				
			</div>
		</div>
	</div>
	<% } %>
</div>

