<% layout("../layout/boilerplate") %>
<!--*All The Contents Of this File Will be Passed To This Layout File-->

<div class="container w-[65%] mx-auto my-6 min-h-max inline-block">
    <h1 class="font-sofia text-gray-500 text-3xl mt-6 ml-10">Search Results</h1>

    <div class="separator w-full  mt-2 rounded-xl ml-10 text-sm text-gray-500">
        <%= count %> results
    </div>

    <div class="container">
        <% for(let post of result) { %>
        <div id="post" class="mb-10 ml-8 rounded-2xl p-2 overflow-hidden">


            <div id="arrows" class="w-[10%] pt-4 float-left">
                <span class="votes inline-block text-white text-center bg-[#4db36f] rounded-md text-sm w-full p-2">
                    <%= post.votes%>
                    <br>
                    Votes
                </span>

                <span class="inline-block text-[#dee2e6] text-center bg-[#6c757d] rounded-md mt-3 p-2 text-sm">
                    <%= post.answers.length %> Answers
                </span>


            </div>

            <div id="questionWrapper">
                <div id="question" class="ml-24">
                    <div class="w-full">
                        <a class="text-lg inline-block mt-2 text-gray-600 font-semibold"
                            href="/question/<%= post._id%>">
                            <%= post.questionTitle %>

                        </a>
                    </div>

                    <p class="leading-8 pt-2 pb-4 text-gray-500">
                        <%= post.snippet %>
                    </p>

                    <div class="tags">
                        <% post.tags.forEach(el=> { %>
                        <span class="bg-violet-200 p-2 rounded-xl text-violet-500 inline-block mb-1">
                            <a href="/explore/<%= el %>">
                                <%= el %>
                            </a>
                        </span>
                        <% }) %>



                        <div class="rounded-xl bg-blue-100/70 w-max p-2 outline-none float-right">
                            <div class="rounded-full float-left bg-red-300 w-6 h-6"></div>
                            <a class="ml-2 font-medium text-blue-500" href="/user/<%= post.user._id %>">
                                <%= post.user.username %>
                            </a>
                        </div>
                    </div>




                </div>
            </div>

        </div>
        <% } %>
    </div>


</div>


<%- include("../partials/sidebar") %>