<% layout("../layout/boilerplate") %>

<%- include("../partials/sidebar") %>

<div class="container mx-auto my-4" id="home">

    <h1 class="font-sofia text-xl text-gray-600 my-10">Users</h1>

    <div id="usersList" class="flex flex-row flex-wrap gap-x-5 gap-y-10">
            <% for(let user of users) { %> 
                <div class="w-[30%] relative flex flex-col flex-wrap justify-center items-center border border-gray-300 hover:border-purple-300 hover:ring-2 hover:ring-purple-300 transition-all hover:-translate-y-3 rounded-xl py-5">

                    <% if(user.image.url) { %> 
                    <img src="<%= user.image.url %>" alt="" class="w-24 h-24 rounded-full inline-block">
                    <% } else { %>
                        <div class="w-24 h-24 rounded-full bg-[#CDD7FF] inline-block"></div>
                    <% } %> 
                    <h1 class="font-sofia mt-3 ml-5 text-[#8A75DB] bg-[#EEEDFF] p-2 rounded-xl"><%= user.username %> (<%= user.alias %>)</h1>
                    <div class="view-user-btn my-2">
                        <form action="/user/<%= user._id %>" method="get">
                            <button class="p-2 font-sofia text-[#00ABCA] hover:text-[#e0f9fc] hover:bg-[#00ABCA] transition-colors bg-[#d0f9fd] rounded-xl">
                                View Profile
                            </button>
                        </form>
                    </div>

                    <div class="question-count my-2">
                        <p class="p-2 rounded-xl font-sofia text-[#EE5C67] hover:text-[#FFE4E3] transition-colors hover:bg-[#EE5C67] bg-[#FFE4E3] w-fit">Questions: <%= user.questions.length%></p>
                    </div>

                    <div class="answer-count my-2">
                        <p class="p-2 rounded-xl font-sofia hover:text-[#E6F4F1] hover:bg-[#1FC198] transition-colors bg-[#E6F4F1] text-[#1FC198] w-fit">Answers: <%= user.answers.length%></p>
                    </div>

                </div>
            <% } %> 
    </div>
</div>