<nav class="container flex flex-wrap flex-col h-20">
    <section class=" w-[60%] flex flex-row justify-between">
        <div id="logo" class="">
            <a href="/">
                <img src="/images/logo.png" alt="" class="w-14 h-10 ml-10 inline-block">
                <p class="list-none inline-block py-5 font-sofia font-light text-[#7485F2]">StudQuery</p>
            </a>
        </div>

        <div id="search" class="h-10 mt-3">
            <form action="/question/search" method="get">
                <svg class="absolute my-2 ml-4" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                    width="24px" fill="#AAAABC">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                </svg>
                <input style="width: 500px;" type="text" name="search" id="search" placeholder="Search Here"
                    class="pl-14 rounded-lg border-0 bg-gray-200 focus:border-0 focus:ring-2 focus:ring-blue-500 placeholder:font-sofia placeholder:text-[#AAAABC] placeholder:font-light">
            </form>
        </div>
    </section>

    <section class="w-[30%] flex flex-row justify-around">

        <p class=" text-[#7485F2] hover:bg-[#7485F2] hover:text-white rounded-md cursor-pointer my-3 py-2 px-2 transition-all duration-300"><a class="font-sofia font-light " href="/">Home</a></p>

        <p class="text-[#7485F2] hover:bg-[#7485F2] hover:text-white rounded-md cursor-pointer my-3 py-2 px-2 transition-all duration-300"> <a class="font-sofia font-light" href=<%=userSession.isLoggedIn ? "/logout" : "/login" %> ><%= userSession.isLoggedIn ? "Log Out" : "Log In" %>
            </a>
        </p>

        <p class="text-[#7485F2] hover:bg-[#7485F2] hover:text-white rounded-md cursor-pointer my-3 py-2 px-2 transition-all duration-300 ">
            <a href="/signup" class="font-sofia font-light">Sign Up</a>
        </p>


    </section>

    <section class="flex flex-row my-3">

            <% if(userSession.isLoggedIn) { %> 
                <div class="image">
                    <% if(userSession.imageUrl) {  %>
                        <a href="/user/<%= userSession.userid %>">
                            <img src="<%= userSession.imageUrl %> " alt=""
                            class="w-10 h-10 rounded-full">
                        </a>
                    <% } else { %>
                        <a href="/user/<%= userSession.userid %>">
                         <div class="w-10 h-10 rounded-full bg-gray-200"></div>
                        </a>
                    <% } %>
                </div>
            <% } else { %> 
                <div class="w-10 h-10 rounded-full bg-gray-200"></div>
            <% } %> 

    </section>


</nav>