<% layout("../layout/adminBoilerplate.ejs") %>

    <div class="container min-h-screen mt-10 w-[92%] float-right">
        <header>
            <h1 class="text-3xl font-cera ml-5">Answers</h1>
            <h3 class="text-xl font-cera mt-5 ml-5">View or manage all answers of users</h3>
        </header>

        <section>
            <div class="mt-8 ml-5 overflow-auto">
                <table class="table-auto w-full">
                    <thead class="bg-gray-50 border-b-2 border-gray-200">
                        <tr>
                            <th class="p-3 text-sm font-semibold font-inter tracking-wide text-left">Answer Description
                            </th>
                            <th class="p-3 text-sm font-semibold font-inter tracking-wide text-left">Owner</th>
                            <th class="p-3 text-sm font-semibold font-inter tracking-wide text-left">Created at</th>
                            <th class="p-3 text-sm font-semibold font-inter tracking-wide text-left">Updated at</th>
                            <th class="p-3 w-10 text-sm font-inter font-semibold tracking-wide text-left">Votes</th>
                            <th class="p-3 text-sm font-semibold tracking-wide text-left font-inter">View Conversation
                            </th>
                        </tr>
                    </thead>

                    <tbody class="border-b-2 border-gray-200 divide-y divide-gray-200">

                        <% for(let answer of answers) { %>
                            <tr>
                                <td class="p-3 text-sm text-gray-700 font-inter">
                                    <%= answer.answerDescription %>
                                </td>
                                <td class="p-3 text-sm text-gray-700 font-inter">
                                    <%= answer.user.username %>
                                </td>
                                <td class="p-3 text-sm text-gray-700 dateValue font-inter">
                                    <%= answer.updatedAt %>
                                </td>
                                <td class="p-3 text-sm text-gray-700 dateValue font-inter">
                                    <%= answer.createdAt %>
                                </td>
                                <td class="p-3 text-sm text-gray-700 font-inter">
                                    <%= answer.votes %>
                                </td>
                                <td class="p-3 text-sm text-gray-700">
                                    <form method="get" action="/admin/question/<%= answer.question._id %> ">
                                        <button
                                            class="p-3 w-28 bg-[#d9f5db] hover:bg-[#65C18C] hover:text-white rounded-xl cursor-pointer font-semibold font-inter">View</button>
                                    </form>
                                </td>


                            </tr>


                            <% } %>
                    </tbody>

                    <script>
                        let date = document.querySelectorAll(".dateValue");
                        date.forEach(function (e) {
                            let date = new Date(e.textContent);
                            date.toLocaleTimeString('en-US', { "hour12:": "true" })
                            e.innerHTML = (`${date.getDate()}/${date.toLocaleString('default', { month: "short" })}/${date.getFullYear()} ${date.getUTCHours()}:${date.getUTCMinutes()}`)



                        })
                    </script>
                </table>
            </div>
        </section>
    </div>