<% layout("../layout/adminBoilerplate.ejs") %>

    <div class="container mt-10 w-[95%] mr-2 mx-auto mb-10">
        <header>
            <h1 class="font-semibold text-2xl font-sofia ml-10 ">View Question</h1>
            <h3 class="mt-5 font-semibold text-xl ml-10">View the full Question of the User</h3>
        </header>


        <section class="mt-5 ml-10 w-[80%]">

            <div class="w-[10%] pt-4 float-left">
                <p class="text-white bg-[#00B25C] text-center rounded-md p-2 mb-5">Votes: <%= question.votes %>
                </p>
                <p class=" text-[#dee2e6]  bg-[#6c757d] text-center rounded-md p-2">Answers: <%= question.answers.length %>
                </p>
                
            </div>

            <div id="question" class="ml-32 mt-5 ">
                <p class="text-xl text-gray-700 font-sofia pl-2 pt-3">
                    <%= question.questionTitle %>
                </p>

                <div id="viewer" class="text-gray-600 pl-2 pt-4">
                    <%- question.questionDescription %>

                </div>
            
            </div>

            <div class="tags ml-32 my-5">
                <% for(let tag of question.tags) { %>
                    <p class="mt-2 ml-2 p-2 drop-shadow-md bg-violet-200 rounded-lg w-fit inline-block">
                        <%= tag %>
                    </p>
                    <% } %>
            </div>

            <div class="username mt-4 ml-32 pl-2">
                <p class="text-white rounded-xl p-2 bg-[#737EEE] w-fit font-medium drop-shadow-md">
                    Created By:<%= question.user.username %>
                </p>
            </div>

            <% if(question.answers && question.answers.length>0) {%> 
            <div id="separator" class="h-0.5  rounded-xl bg-orange-200/80 my-3 ml-32"></div>
            <h3 class="text-xl text-gray-500 font-sofia ml-32">Answers</h3>

            <% for(let answer of question.answers) { %> 

            <div class="answer w-[87%] float-right ml-10">

                <div class="answerContainer">
                    <div class="profile rounded-full mt-5 w-10 h-10 float-left bg-blue-200"></div>
                    <div class="rounded-xl ml-3 p-2 mt-4 inline-block text-gray-700">
                        <span class="font-medium font-sofia ">
                            <%= answer.user.username %>
                        </span>
                    </div>

                    <div class="answerViewer ml-14 pl-1 text-gray-600 leading-7">
                        <!-- <p class="font-sofia leading-7 pl-1 text-gray-600"> -->
                            <%- answer.answerDescription %>
                        <!-- </p> -->
                    </div>
                    
                    <p class="p-2 mt-2 ml-14  text-white bg-[#00B25C] w-fit rounded-md">Votes: <%= answer.votes %> </p>
                </div>
            </div>

            <% } %> 
            <% } %> 

        </section>

    </div>

    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

    <script>
        const viewer = toastui.Editor.factory({
            el:document.querySelector("#viewer"),
            viewer:true
        })

        const answerViewers = document.querySelectorAll(".answerViewer");

        answerViewers.forEach(function(e) {
            toastui.Editor.factory({
                el:e,
                viewer:true
            })
        })

    </script>