<% layout("../layout/adminBoilerplate.ejs") %>

    <div class="container min-h-screen mt-10 w-[95%] mx-auto">
        <header>
            <h1 class="text-3xl font-sofia ml-5">Reported Answers</h1>
            <h3 class="text-xl font-sofia mt-5 ml-5">View or manage all reported answers of users</h3>
        </header>

        <section>
            <div class="mt-8 ml-5 overflow-auto">
                <table class="table-auto w-full">
                    <thead class="bg-gray-50 border-b-2 border-gray-200">
                        <tr>
                            <th class="p-3 text-sm font-semibold font-sofia tracking-wide text-left">Answer Description
                            </th>
                            <th class="p-3 text-sm font-semibold font-sofia tracking-wide text-left">Owner</th>
                            <th class="p-3 text-sm font-semibold font-sofia tracking-wide text-left">Created at</th>
                            <th class="p-3 text-sm font-semibold font-sofia tracking-wide text-left">Updated at</th>
                            <th class="p-3 w-10 text-sm font-sofia font-semibold tracking-wide text-left">Votes</th>
                            <th class="p-3 text-sm font-semibold tracking-wide text-left font-sofia">View Conversation
                            <th class="p-3 text-sm text-gray-700 text-left">Options</th>
                            </th>
                        </tr>
                    </thead>

                    <tbody class="border-b-2 border-gray-200 divide-y divide-gray-200">

                        <% for(let answer of reportedAnswers) { %>
                            <tr>
                                <td class="p-3 text-sm text-gray-700 font-sofia">
                                    <%- answer.reportedAnswer.answerDescription.slice(0,200) %>...
                                </td>
                                <td class="p-3 text-sm text-gray-700 font-sofia">
                                    <%= answer.reportedAnswer.user.username %>
                                </td>
                                <td class="p-3 text-sm text-gray-700 dateValue font-sofia">
                                    <%= answer.reportedAnswer.createdAt %>
                                </td>
                                <td class="p-3 text-sm text-gray-700 dateValue font-sofia">
                                    <%= answer.reportedAnswer.updatedAt %>
                                </td>
                               
                                <td class="p-3 text-sm text-gray-700 font-sofia">
                                    <%= answer.reportedAnswer.votes %>
                                </td>
                                <td class="p-3 text-sm text-gray-700">
                                    <form method="get" action="/admin/question/<%= answer.reportedAnswer.question._id %>">
                                        <button
                                            class="p-3 w-28 bg-[#d9f5db] hover:bg-[#65C18C] hover:text-white rounded-xl cursor-pointer font-semibold font-sofia">View</button>
                                    </form>
                                </td>
                                <td class="p-5">
                                    <form action="/admin/answer/<%= answer.reportedAnswer._id %>?_method=DELETE" method="post">
                                            <button type="submit">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-300 hover:text-red-500 deleteUserbtn" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                </svg>
                                            </button>
                                    </form>
                                </td>


                            </tr>


                            <% } %>
                    </tbody>

                    <script>
                        let date = document.querySelectorAll(".dateValue");
                        date.forEach(function (e) {
                            let date = new Date(e.textContent);
                            e.innerHTML = (`${date.getDate()}/${date.toLocaleString('default', { month: "short" })}/${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}`)



                        })
                    </script>
                </table>
            </div>
        </section>
    </div>