<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<!-- TODO TO ADD ABIITY TO DELETE AND EDIT QUESTION -->
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/homePage.js"></script>
    

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/styles/output.css">
    <title>StudQuery</title>

</head>

<body class="font-cera bg-gray-100" >

    <div class="container h-20 min-w-[100%] mx-auto flex justify-evenly  items-center bg-gray-100 rounded-md flex-row shadow-lg"
        id="navbar">

        <img src="/images/logo.png" alt="" class="w-20 h-16 ml-10 inline-block">


        <ul class="min-w-[70%]">
            <li class="list-none inline-block pb-5">StudQuery</li>
            <div class="h-12 w-[65%]  inline-block pt-5 mr-10"> <span class="pl-10">Search Here!!</span></div>
            <li class="list-none min-w-max inline-block"><a href="/user/<%= userSession.userid ? userSession.userid : '' %> "><%= userSession.isLoggedIn ? userSession.username : "" %></a> </li>
        </ul>

        <span class="mr-10 bg-red-600 cursor-pointer p-2 rounded-lg text-white">
            <a href=<%= userSession.isLoggedIn ? "/logout" : "/login" %> ><%= userSession.isLoggedIn ? "Log Out" : "Log In" %></a>
        </span>

        



    </div>

    <!-- Checks That the Question User is Equals to the User which is logged in -->
    <% if(question.user.equals(userSession.userid)) { %> 
    <div id = "questionOptions" class="container w-48  mt-10 float-right mr-12 text-white text-center">
        <div class=" bg-[#7C98B3] p-2 rounded-xl">
            <% if(userSession.userid) { %> 
                <a href="/user/<%=userSession.userid%>/question">Ask A Question </a> 
            <% } else { %>
                <a href="/login">To Ask Questions Login!!</a>    
            <% } %> 
        </div>

        <div class="bg-yellow-300 p-2 rounded-xl mt-5 text-gray-700">
            
            <a href="/question/<%=question._id%>/edit">Edit Question</a>
        </div>

        <div class="mt-5 bg-red-500  p-2 rounded-xl">
            <form action="/question/<%=question._id%>?_method=DELETE" method="post">
                <button type="submit">Delete Question</button>
            </form>
        </div>

        
    </div>

    <% } %> 

   






    <div class="container w-[55%] mx-auto my-6 min-h-max" id="home">

        
            <div id="post" class="mb-10 rounded-2xl p-4">

                <div id="arrows" class="w-[10%] pt-4 float-left">

                    <span>
                        <svg class="cursor-pointer" width="70" height="20" viewBox="0 0 90 108" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path id="Arrow 1"
                                d="M49.2426 2.57276C46.8995 0.229614 43.1005 0.229614 40.7574 2.57276L2.57359 40.7565C0.230446 43.0997 0.230446 46.8987 2.57359 49.2418C4.91674 51.585 8.71573 51.585 11.0589 49.2418L45 15.3007L78.9411 49.2418C81.2843 51.585 85.0833 51.585 87.4264 49.2418C89.7696 46.8987 89.7696 43.0997 87.4264 40.7565L49.2426 2.57276ZM51 107.094L51 6.8154H39L39 107.094H51Z"
                                fill="#9643FF" />
                        </svg>

                    </span>

                    <span id="votes" class="text-xl ml-6 py-2 inline-block text-slate-600">32</span>

                    <span>
                        <svg class="cursor-pointer" width="70" height="20" viewBox="0 0 90 107" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path id="Arrow 2"
                                d="M40.7574 105.191C43.1005 107.534 46.8995 107.534 49.2426 105.191L87.4264 67.0071C89.7696 64.664 89.7696 60.865 87.4264 58.5219C85.0833 56.1787 81.2843 56.1787 78.9411 58.5219L45 92.463L11.0589 58.5219C8.71573 56.1787 4.91674 56.1787 2.57359 58.5219C0.230447 60.865 0.230447 64.664 2.57359 67.0071L40.7574 105.191ZM39 0.669922L39 100.948H51L51 0.669922L39 0.669922Z"
                                fill="#E16A6A" />
                        </svg>

                    </span>
                </div>

                <div id="questionWrapper">
                    <div id="question" class="ml-20">
                        <div class="w-full relative">
                            <p class="font-sans text-xl inline-block mt-2 text-gray-700 max-w-xl">
                                <%= question.questionTitle %>
                                    <a class="ml-2 text-sm font-inter text-blue-500" href="/user/<%= question.user._id %>">By <%=
                                            question.user.username %> </a>
                            </p>

                        </div>

                        <p class="font-normal font-inter leading-8 pt-4 text-gray-500/90">
                            <%= question.questionDescription %>
                        </p>



                    </div>
                </div>


                <div class="toggle-wrap">

                    <div id="additional" class="py-4 ml-20">

                        <span class="font-medium mr-10 text-blue-500 cursor-pointer reply-btn">Reply</span>
                        <span class="font-medium mr-96 text-rose-500">Report</span>
                        <span class="font-medium text-orange-500">12 HR Ago</span>

                    </div>

                    

                    <div class="ml-20 answer-container">
                        <form action="/question/<%=question._id%>/answer" method="post" autocomplete="off">
                            <input type="text" name="answerDescription" id="ans"
                                class="w-full rounded-xl border-0 border-blue-300 focus:ring focus:ring-sky-300  shadow-md focus:outline-none">
                            <button type="submit" class="p-2 my-3 bg-fuchsia-200 rounded-2xl text-fuchsia-600 drop-shadow-lg border-2 border-pink-300">Add
                                Answer</button>
                        </form>
                    </div>

                   
                </div>


                <% if(question.answers.length>0) { %> 
                

                <div id="answerWrapper" class="mt-4 border-t-2 border-[#ff40007a] min-h-max">

                    <h4 class=" text-xl pt-4 mb-5 ml-20 font-inter text-gray-600">Answers</h4>


                        <% for(let answer of question.answers) { %>

                            <div class="profile rounded-full ml-20 w-10 h-10 bg-[#EEE2DF] float-left">
                            </div>
                            <div id="user-information" class="inline-block p-2 ml-3 min-h-max rounded-2xl">

                                <!-- TODO : We have to Fix The Route Because it is going to one user route only.  -->
                                <a class="p-2 text-blue-600/80 font-semibold font-inter" href="/user/<%= answer.user._id %>">
                                    <%=answer.user.username %>
                                </a>
                            </div>

                            <div class="pb-10">
                                <p class=" font-inter leading-7 pt-1 ml-32 pl-4 text-gray-500/95">
                                    <%= answer.answerDescription %>
                                </p>

                                
                                 
                                <!-- *Checks That the User of Answer is equal to Logged in User -->

                                <% if(answer.user._id == userSession.userid){ %> 
                                <div id="answer-options" class="flex w-1/2 ml-32 pl-4 mt-4 text-gray-400/95 gap-12">

                                    <form action="/question/<%= question._id %>/answer/<%=answer._id%>" method="get">
                                        <div class="hover:text-amber-500">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 float-left mr-1 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                            
                                        </svg>
                                        <button type="submit" class="hover:text-amber-500">Edit</button>
                                        </div>
                                    </form>
                                    

                                    <form action="/question/<%=question._id%>/answer/<%=answer._id%>?_method=DELETE" method="post">
                                        <div class="hover:text-red-500">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 float-left mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                            </svg>
                                            <button type="submit">Delete</button>
                                        </div>
                                    </form>
                                    
                                    <div class="hover:text-cyan-500">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 float-left mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9" />
                                          </svg>
                                        <span>Report</span>
                                    </div>

                                </div>
                                <% } %> 
 


                            </div>

                            

                        <% } %>


                </div>

                <% } %> 



            </div>
        
    </div>

    



</body>

</html>