<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/styles.css">
    <title>StudQuery</title>
</head>
<body>
    <% if(userid) { %> 
    <div >
        <b>User Logged in: </b>
        <%= username %> 
        
        <%= userid %> 
    </div>
    <% } %> 
   <div>
       <h3>All Users</h3>
       <% for(let user of users) { %> 
        <ul>
            <li> <a href= "/user/<%= user._id %>"><%= user.username %> </a></li>
            <li><%= user.alias %> </li>
            <li><%= user.email %></li>
            <li><%= user.studyingIn %></li>
            <a href = "/user/<%= user._id %>/addQuestion">Add A New Question</a>
        </ul>
            
           
        <% } %> 
       
   </div>
    
</body>
</html>