<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show User</title>
    <link rel="stylesheet" href="/styles/output.css">
</head>
<body>

  
   <h1 class="font-mono text-xl"><%= user.username %> </h1>
   <h3>Also Called as <%= user.alias %> </h3>
   <h3><%= user.email %> </h3>
   <h3><%= user.age %> </h3>
   <h3><%= user.studyingIn %></h3>
   
   <hr>

   <br><br>

  
</body>
</html>